In [ ]:
%pip install -r requirements.txt
# !docker compose -f ../docker-compose.yml up

# scipy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# standard
import os
import sys
import json

# others
from sqlalchemy import create_engine
from dotenv import load_dotenv
from pathlib import Path

sys.path.append(str(Path.cwd().parent))

# my lib
from library.src.library import yfinance as libyf

load_dotenv(dotenv_path='../.env')
print(os.environ)

# get parameter.json
with open('../parameter.json', 'r', encoding='utf-8') as f:
    json_string = f.read()
    parameter = json.loads(json_string)
    lower_tickers = [ticker.lower() for ticker in parameter['tickers']]

NEWS_API_KEY = os.getenv('NEWS_API_KEY')
DB_NAME = os.getenv('NEWS_DB')
DB_USER = os.getenv('POSTGRES_USER')
DB_PASSWORD = os.getenv('POSTGRES_PASSWORD')
DB_HOST = os.getenv('DB_HOST')  # docker-compose.ymlで定義したサービス名
DB_PORT = os.getenv('DB_PORT')
DATABASE_URL = f"postgresql://{DB_USER}:{DB_PASSWORD}@localhost:{DB_PORT}/yfinance"

engine = create_engine(DATABASE_URL) 
print("Successfully connected to the database.")

Requirement already satisfied: pandas in /home/sclyde/.local/lib/python3.9/site-packages (from -r requirements.txt (line 1)) (2.3.0)
Requirement already satisfied: sqlalchemy in /home/sclyde/.local/lib/python3.9/site-packages (from -r requirements.txt (line 2)) (2.0.43)
Requirement already satisfied: psycopg2-binary in /home/sclyde/.local/lib/python3.9/site-packages (from -r requirements.txt (line 3)) (2.9.10)
Requirement already satisfied: python-dotenv in /home/sclyde/.local/lib/python3.9/site-packages (from -r requirements.txt (line 4)) (1.1.1)
Requirement already satisfied: matplotlib in /home/sclyde/.local/lib/python3.9/site-packages (from -r requirements.txt (line 5)) (3.9.4)
Requirement already satisfied: numpy>=1.22.4; python_version < "3.11" in /home/sclyde/.local/lib/python3.9/site-packages (from pandas->-r requirements.txt (line 1)) (2.0.2)
Requirement already satisfied: tzdata>=2022.7 in /home/sclyde/.local/lib/python3.9/site-packages (from pandas->-r requirements.txt (line 1)) (2025.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/sclyde/.local/lib/python3.9/site-packages (from pandas->-r requirements.txt (line 1)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/sclyde/.local/lib/python3.9/site-packages (from pandas->-r requirements.txt (line 1)) (2025.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/sclyde/.local/lib/python3.9/site-packages (from sqlalchemy->-r requirements.txt (line 2)) (4.14.1)
Requirement already satisfied: greenlet>=1; python_version < "3.14" and (platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32")))))) in /home/sclyde/.local/lib/python3.9/site-packages (from sqlalchemy->-r requirements.txt (line 2)) (3.2.4)
Requirement already satisfied: fonttools>=4.22.0 in /home/sclyde/.local/lib/python3.9/site-packages (from matplotlib->-r requirements.txt (line 5)) (4.58.5)
Requirement already satisfied: contourpy>=1.0.1 in /home/sclyde/.local/lib/python3.9/site-packages (from matplotlib->-r requirements.txt (line 5)) (1.3.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/sclyde/.local/lib/python3.9/site-packages (from matplotlib->-r requirements.txt (line 5)) (1.4.7)
Requirement already satisfied: cycler>=0.10 in /home/sclyde/.local/lib/python3.9/site-packages (from matplotlib->-r requirements.txt (line 5)) (0.12.1)
Requirement already satisfied: pillow>=8 in /home/sclyde/.local/lib/python3.9/site-packages (from matplotlib->-r requirements.txt (line 5)) (11.3.0)
Requirement already satisfied: packaging>=20.0 in /usr/lib/python3/dist-packages (from matplotlib->-r requirements.txt (line 5)) (20.3)
Requirement already satisfied: importlib-resources>=3.2.0; python_version < "3.10" in /home/sclyde/.local/lib/python3.9/site-packages (from matplotlib->-r requirements.txt (line 5)) (6.5.2)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib->-r requirements.txt (line 5)) (2.4.6)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 1)) (1.14.0)
Requirement already satisfied: zipp>=3.1.0; python_version < "3.10" in /home/sclyde/.local/lib/python3.9/site-packages (from importlib-resources>=3.2.0; python_version < "3.10"->matplotlib->-r requirements.txt (line 5)) (3.23.0)
Note: you may need to restart the kernel to use updated packages.
environ({'USER': 'sclyde', 'VSCODE_WSL_EXT_LOCATION': '/mnt/c/Users/satos/.vscode/extensions/ms-vscode-remote.remote-wsl-0.104.2', 'SHLVL': '1', 'HOME': '/home/sclyde', 'WSL_DISTRO_NAME': 'Ubuntu-20.04', 'WAYLAND_DISPLAY': 'wayland-0', 'LOGNAME': 'sclyde', 'NAME': 'Code', 'WSL_INTEROP': '/run/WSL/6599_interop', 'PULSE_SERVER': 'unix:/mnt/wslg/PulseServer', '_': '/mnt/c/Users/satos/AppData/Local/Programs/Microsoft VS Code/bin/code', 'TERM': 'xterm-color', 'PATH': '/usr/bin:/home/sclyde/.local/bin:/home/sclyde/.vscode-server/bin/0f0d87fa9e96c856c5212fc86db137ac0d783365/bin/remote-cli:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/usr/lib/wsl/lib:/mnt/c/Program Files/WindowsApps/MicrosoftCorporationII.WindowsSubsystemForLinux_2.2.4.0_x64__8wekyb3d8bbwe:/mnt/c/WINDOWS/system32:/mnt/c/WINDOWS:/mnt/c/WINDOWS/System32/Wbem:/mnt/c/WINDOWS/System32/WindowsPowerShell/v1.0/:/mnt/c/WINDOWS/System32/OpenSSH/:/mnt/c/Program Files (x86)/Fujitsu/FJAgent/Core/bin:/mnt/c/Program Files/Git/cmd:/mnt/c/Program Files/Docker/Docker/resources/bin:/mnt/c/Program Files (x86)/Microsoft SQL Server/160/Tools/Binn/:/mnt/c/Program Files/Microsoft SQL Server/160/Tools/Binn/:/mnt/c/Program Files/Microsoft SQL Server/Client SDK/ODBC/170/Tools/Binn/:/mnt/c/Program Files/Microsoft SQL Server/160/DTS/Binn/:/mnt/c/Program Files/Vagrant/bin:/mnt/c/Program Files (x86)/Vagrant/bin:/mnt/c/Program Files/MATLAB/R2024b/bin:/mnt/c/Program Files/PowerShell/7-preview/preview:/mnt/c/Program Files/nodejs/:/mnt/c/Program Files/PowerShell/7/:/mnt/c/Program Files/MySQL/MySQL Server 5.7/bin/:/mnt/c/Users/satos/AppData/Local/Microsoft/WindowsApps:/mnt/c/Users/satos/AppData/Local/Programs/Microsoft VS Code/bin:/mnt/c/Users/satos/AppData/Local/GitHubDesktop/bin:/mnt/c/Users/satos/AppData/Local/Microsoft/WinGet/Packages/DenoLand.Deno_Microsoft.Winget.Source_8wekyb3d8bbwe:/mnt/c/Users/satos/AppData/Roaming/npm:/mnt/c/Users/satos/AppData/Local/Programs/cursor/resources/app/bin:/snap/bin:/home/sclyde/.vscode-server/bin/0f0d87fa9e96c856c5212fc86db137ac0d783365/bin/remote-cli:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/usr/lib/wsl/lib:/mnt/c/Program Files/WindowsApps/MicrosoftCorporationII.WindowsSubsystemForLinux_2.2.4.0_x64__8wekyb3d8bbwe:/mnt/c/WINDOWS/system32:/mnt/c/WINDOWS:/mnt/c/WINDOWS/System32/Wbem:/mnt/c/WINDOWS/System32/WindowsPowerShell/v1.0/:/mnt/c/WINDOWS/System32/OpenSSH/:/mnt/c/Program Files (x86)/Fujitsu/FJAgent/Core/bin:/mnt/c/Program Files/Git/cmd:/mnt/c/Program Files/Docker/Docker/resources/bin:/mnt/c/Program Files (x86)/Microsoft SQL Server/160/Tools/Binn/:/mnt/c/Program Files/Microsoft SQL Server/160/Tools/Binn/:/mnt/c/Program Files/Microsoft SQL Server/Client SDK/ODBC/170/Tools/Binn/:/mnt/c/Program Files/Microsoft SQL Server/160/DTS/Binn/:/mnt/c/Program Files/Vagrant/bin:/mnt/c/Program Files (x86)/Vagrant/bin:/mnt/c/Program Files/MATLAB/R2024b/bin:/mnt/c/Program Files/PowerShell/7-preview/preview:/mnt/c/Program Files/nodejs/:/mnt/c/Program Files/PowerShell/7/:/mnt/c/Program Files/MySQL/MySQL Server 5.7/bin/:/mnt/c/Users/satos/AppData/Local/Microsoft/WindowsApps:/mnt/c/Users/satos/AppData/Local/Programs/Microsoft VS Code/bin:/mnt/c/Users/satos/AppData/Local/GitHubDesktop/bin:/mnt/c/Users/satos/AppData/Local/Microsoft/WinGet/Packages/DenoLand.Deno_Microsoft.Winget.Source_8wekyb3d8bbwe:/mnt/c/Users/satos/AppData/Roaming/npm:/mnt/c/Users/satos/AppData/Local/Programs/cursor/resources/app/bin:/snap/bin', 'XDG_RUNTIME_DIR': '/mnt/wslg/runtime-dir', 'DISPLAY': ':0', 'LANG': 'C.UTF-8', 'SHELL': '/bin/bash', 'PWD': '/mnt/c/Users/satos/AppData/Local/Programs/Microsoft VS Code', 'WSL2_GUI_APPS_ENABLED': '1', 'HOSTTYPE': 'x86_64', 'WSLENV': 'ELECTRON_RUN_AS_NODE/w:', 'VSCODE_CWD': '/mnt/c/Users/satos/AppData/Local/Programs/Microsoft VS Code', 'VSCODE_NLS_CONFIG': '{"userLocale":"en","osLocale":"en","resolvedLanguage":"en","defaultMessagesFile":"/home/sclyde/.vscode-server/bin/0f0d87fa9e96c856c5212fc86db137ac0d783365/out/nls.messages.json","locale":"en","availableLanguages":{}}', 'VSCODE_HANDLES_SIGPIPE': 'true', 'XDG_DATA_DIRS': '/usr/local/share:/usr/share:/var/lib/snapd/desktop', 'VSCODE_ESM_ENTRYPOINT': 'vs/workbench/api/node/extensionHostProcess', 'VSCODE_HANDLES_UNCAUGHT_ERRORS': 'true', 'MOTD_SHOWN': 'update-motd', 'ELECTRON_RUN_AS_NODE': '1', 'VSCODE_IPC_HOOK_CLI': '/mnt/wslg/runtime-dir/vscode-ipc-11265a6e-6b0b-49d6-922c-f6d008a60e94.sock', 'VSCODE_L10N_BUNDLE_LOCATION': '', 'APPLICATION_INSIGHTS_NO_STATSBEAT': 'true', 'POSTGRES_USER': 'user', 'POSTGRES_PASSWORD': 'password', 'DB_HOST': 'db', 'DB_PORT': '49152', 'YFINANCE_DB': 'yfinance', 'PYDEVD_IPYTHON_COMPATIBLE_DEBUGGING': '1', 'PYTHONUNBUFFERED': '1', 'PYTHONIOENCODING': 'utf-8', 'PYTHON_FROZEN_MODULES': 'on', 'PYDEVD_USE_FRAME_EVAL': 'NO', 'CLICOLOR': '1', 'FORCE_COLOR': '1', 'CLICOLOR_FORCE': '1', 'PAGER': 'cat', 'GIT_PAGER': 'cat', 'MPLBACKEND': 'module://matplotlib_inline.backend_inline'})
Successfully connected to the database.

In [2]:
BS = pd.read_sql(f"aapl_balance_sheet_annual", engine)
print(BS.columns)
BS

Index(['date', 'Treasury Shares Number', 'Ordinary Shares Number',
       'Share Issued', 'Net Debt', 'Total Debt', 'Tangible Book Value',
       'Invested Capital', 'Working Capital', 'Net Tangible Assets',
       'Capital Lease Obligations', 'Common Stock Equity',
       'Total Capitalization', 'Total Equity Gross Minority Interest',
       'Stockholders Equity', 'Gains Losses Not Affecting Retained Earnings',
       'Other Equity Adjustments', 'Retained Earnings', 'Capital Stock',
       'Common Stock', 'Total Liabilities Net Minority Interest',
       'Total Non Current Liabilities Net Minority Interest',
       'Other Non Current Liabilities', 'Tradeand Other Payables Non Current',
       'Long Term Debt And Capital Lease Obligation',
       'Long Term Capital Lease Obligation', 'Long Term Debt',
       'Current Liabilities', 'Other Current Liabilities',
       'Current Deferred Liabilities', 'Current Deferred Revenue',
       'Current Debt And Capital Lease Obligation',
       'Current Capital Lease Obligation', 'Current Debt',
       'Other Current Borrowings', 'Commercial Paper',
       'Payables And Accrued Expenses', 'Payables', 'Total Tax Payable',
       'Income Tax Payable', 'Accounts Payable', 'Total Assets',
       'Total Non Current Assets', 'Other Non Current Assets',
       'Non Current Deferred Assets', 'Non Current Deferred Taxes Assets',
       'Investments And Advances', 'Other Investments',
       'Investmentin Financial Assets', 'Available For Sale Securities',
       'Net PPE', 'Accumulated Depreciation', 'Gross PPE', 'Leases',
       'Other Properties', 'Machinery Furniture Equipment',
       'Land And Improvements', 'Properties', 'Current Assets',
       'Other Current Assets', 'Inventory', 'Receivables', 'Other Receivables',
       'Accounts Receivable',
       'Cash Cash Equivalents And Short Term Investments',
       'Other Short Term Investments', 'Cash And Cash Equivalents',
       'Cash Equivalents', 'Cash Financial'],
      dtype='object')

,date,Treasury Shares Number,Ordinary Shares Number,Share Issued,Net Debt,Total Debt,Tangible Book Value,Invested Capital,Working Capital,Net Tangible Assets,...,Other Current Assets,Inventory,Receivables,Other Receivables,Accounts Receivable,Cash Cash Equivalents And Short Term Investments,Other Short Term Investments,Cash And Cash Equivalents,Cash Equivalents,Cash Financial
0,2024-09-30,NaN,1.511679e+10,1.511679e+10,7.668600e+10,1.066290e+11,5.695000e+10,1.635790e+11,-2.340500e+10,5.695000e+10,...,1.428700e+10,7.286000e+09,6.624300e+10,3.283300e+10,3.341000e+10,6.517100e+10,3.522800e+10,2.994300e+10,2.744000e+09,2.719900e+10
1,2023-09-30,0.0,1.555006e+10,1.555006e+10,8.112300e+10,1.110880e+11,6.214600e+10,1.732340e+11,-1.742000e+09,6.214600e+10,...,1.469500e+10,6.331000e+09,6.098500e+10,3.147700e+10,2.950800e+10,6.155500e+10,3.159000e+10,2.996500e+10,1.606000e+09,2.835900e+10
2,2022-09-30,NaN,1.594342e+10,1.594342e+10,9.642300e+10,1.324800e+11,5.067200e+10,1.707410e+11,-1.857700e+10,5.067200e+10,...,2.122300e+10,4.946000e+09,6.093200e+10,3.274800e+10,2.818400e+10,4.830400e+10,2.465800e+10,2.364600e+10,5.100000e+09,1.854600e+10
3,2021-09-30,NaN,1.642679e+10,1.642679e+10,8.977900e+10,1.365220e+11,6.309000e+10,1.878090e+11,9.355000e+09,6.309000e+10,...,1.411100e+10,6.580000e+09,5.150600e+10,2.522800e+10,2.627800e+10,6.263900e+10,2.769900e+10,3.494000e+10,1.763500e+10,1.730500e+10
4,2020-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2024-09-30,NaN,1.511679e+10,1.511679e+10,7.668600e+10,1.066290e+11,5.695000e+10,1.635790e+11,-2.340500e+10,5.695000e+10,...,1.428700e+10,7.286000e+09,6.624300e+10,3.283300e+10,3.341000e+10,6.517100e+10,3.522800e+10,2.994300e+10,2.744000e+09,2.719900e+10
6,2023-09-30,0.0,1.555006e+10,1.555006e+10,8.112300e+10,1.110880e+11,6.214600e+10,1.732340e+11,-1.742000e+09,6.214600e+10,...,1.469500e+10,6.331000e+09,6.098500e+10,3.147700e+10,2.950800e+10,6.155500e+10,3.159000e+10,2.996500e+10,1.606000e+09,2.835900e+10
7,2022-09-30,NaN,1.594342e+10,1.594342e+10,9.642300e+10,1.324800e+11,5.067200e+10,1.707410e+11,-1.857700e+10,5.067200e+10,...,2.122300e+10,4.946000e+09,6.093200e+10,3.274800e+10,2.818400e+10,4.830400e+10,2.465800e+10,2.364600e+10,5.100000e+09,1.854600e+10
8,2021-09-30,NaN,1.642679e+10,1.642679e+10,8.977900e+10,1.365220e+11,6.309000e+10,1.878090e+11,9.355000e+09,6.309000e+10,...,1.411100e+10,6.580000e+09,5.150600e+10,2.522800e+10,2.627800e+10,6.263900e+10,2.769900e+10,3.494000e+10,1.763500e+10,1.730500e+10
9,2020-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2024-09-30,NaN,1.511679e+10,1.511679e+10,7.668600e+10,1.066290e+11,5.695000e+10,1.635790e+11,-2.340500e+10,5.695000e+10,...,1.428700e+10,7.286000e+09,6.624300e+10,3.283300e+10,3.341000e+10,6.517100e+10,3.522800e+10,2.994300e+10,2.744000e+09,2.719900e+10
11,2023-09-30,0.0,1.555006e+10,1.555006e+10,8.112300e+10,1.110880e+11,6.214600e+10,1.732340e+11,-1.742000e+09,6.214600e+10,...,1.469500e+10,6.331000e+09,6.098500e+10,3.147700e+10,2.950800e+10,6.155500e+10,3.159000e+10,2.996500e+10,1.606000e+09,2.835900e+10
12,2022-09-30,NaN,1.594342e+10,1.594342e+10,9.642300e+10,1.324800e+11,5.067200e+10,1.707410e+11,-1.857700e+10,5.067200e+10,...,2.122300e+10,4.946000e+09,6.093200e+10,3.274800e+10,2.818400e+10,4.830400e+10,2.465800e+10,2.364600e+10,5.100000e+09,1.854600e+10
13,2021-09-30,NaN,1.642679e+10,1.642679e+10,8.977900e+10,1.365220e+11,6.309000e+10,1.878090e+11,9.355000e+09,6.309000e+10,...,1.411100e+10,6.580000e+09,5.150600e+10,2.522800e+10,2.627800e+10,6.263900e+10,2.769900e+10,3.494000e+10,1.763500e+10,1.730500e+10
14,2020-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
PL = pd.read_sql(f"aapl_financials_annual", engine)
print(PL.columns)
PL

Index(['date', 'Tax Effect Of Unusual Items', 'Tax Rate For Calcs',
       'Normalized EBITDA',
       'Net Income From Continuing Operation Net Minority Interest',
       'Reconciled Depreciation', 'Reconciled Cost Of Revenue', 'EBITDA',
       'EBIT', 'Net Interest Income', 'Interest Expense', 'Interest Income',
       'Normalized Income',
       'Net Income From Continuing And Discontinued Operation',
       'Total Expenses', 'Total Operating Income As Reported',
       'Diluted Average Shares', 'Basic Average Shares', 'Diluted EPS',
       'Basic EPS', 'Diluted NI Availto Com Stockholders',
       'Net Income Common Stockholders', 'Net Income',
       'Net Income Including Noncontrolling Interests',
       'Net Income Continuous Operations', 'Tax Provision', 'Pretax Income',
       'Other Income Expense', 'Other Non Operating Income Expenses',
       'Net Non Operating Interest Income Expense',
       'Interest Expense Non Operating', 'Interest Income Non Operating',
       'Operating Income', 'Operating Expense', 'Research And Development',
       'Selling General And Administration', 'Gross Profit', 'Cost Of Revenue',
       'Total Revenue', 'Operating Revenue'],
      dtype='object')

,date,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBITDA,EBIT,Net Interest Income,...,Interest Expense Non Operating,Interest Income Non Operating,Operating Income,Operating Expense,Research And Development,Selling General And Administration,Gross Profit,Cost Of Revenue,Total Revenue,Operating Revenue
0,2024-09-30,0.0,0.241,1.346610e+11,9.373600e+10,1.144500e+10,2.103520e+11,1.346610e+11,1.232160e+11,NaN,...,NaN,NaN,1.232160e+11,5.746700e+10,3.137000e+10,2.609700e+10,1.806830e+11,2.103520e+11,3.910350e+11,3.910350e+11
1,2023-09-30,0.0,0.147,1.258200e+11,9.699500e+10,1.151900e+10,2.141370e+11,1.258200e+11,1.143010e+11,-183000000.0,...,3.933000e+09,3.750000e+09,1.143010e+11,5.484700e+10,2.991500e+10,2.493200e+10,1.691480e+11,2.141370e+11,3.832850e+11,3.832850e+11
2,2022-09-30,0.0,0.162,1.305410e+11,9.980300e+10,1.110400e+10,2.235460e+11,1.305410e+11,1.194370e+11,-106000000.0,...,2.931000e+09,2.825000e+09,1.194370e+11,5.134500e+10,2.625100e+10,2.509400e+10,1.707820e+11,2.235460e+11,3.943280e+11,3.943280e+11
3,2021-09-30,0.0,0.133,1.231360e+11,9.468000e+10,1.128400e+10,2.129810e+11,1.231360e+11,1.118520e+11,198000000.0,...,2.645000e+09,2.843000e+09,1.089490e+11,4.388700e+10,2.191400e+10,2.197300e+10,1.528360e+11,2.129810e+11,3.658170e+11,3.658170e+11
4,2020-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,890000000.0,...,2.873000e+09,3.763000e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2024-09-30,0.0,0.241,1.346610e+11,9.373600e+10,1.144500e+10,2.103520e+11,1.346610e+11,1.232160e+11,NaN,...,NaN,NaN,1.232160e+11,5.746700e+10,3.137000e+10,2.609700e+10,1.806830e+11,2.103520e+11,3.910350e+11,3.910350e+11
6,2023-09-30,0.0,0.147,1.258200e+11,9.699500e+10,1.151900e+10,2.141370e+11,1.258200e+11,1.143010e+11,-183000000.0,...,3.933000e+09,3.750000e+09,1.143010e+11,5.484700e+10,2.991500e+10,2.493200e+10,1.691480e+11,2.141370e+11,3.832850e+11,3.832850e+11
7,2022-09-30,0.0,0.162,1.305410e+11,9.980300e+10,1.110400e+10,2.235460e+11,1.305410e+11,1.194370e+11,-106000000.0,...,2.931000e+09,2.825000e+09,1.194370e+11,5.134500e+10,2.625100e+10,2.509400e+10,1.707820e+11,2.235460e+11,3.943280e+11,3.943280e+11
8,2021-09-30,0.0,0.133,1.231360e+11,9.468000e+10,1.128400e+10,2.129810e+11,1.231360e+11,1.118520e+11,198000000.0,...,2.645000e+09,2.843000e+09,1.089490e+11,4.388700e+10,2.191400e+10,2.197300e+10,1.528360e+11,2.129810e+11,3.658170e+11,3.658170e+11
9,2020-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,890000000.0,...,2.873000e+09,3.763000e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2024-09-30,0.0,0.241,1.346610e+11,9.373600e+10,1.144500e+10,2.103520e+11,1.346610e+11,1.232160e+11,NaN,...,NaN,NaN,1.232160e+11,5.746700e+10,3.137000e+10,2.609700e+10,1.806830e+11,2.103520e+11,3.910350e+11,3.910350e+11
11,2023-09-30,0.0,0.147,1.258200e+11,9.699500e+10,1.151900e+10,2.141370e+11,1.258200e+11,1.143010e+11,-183000000.0,...,3.933000e+09,3.750000e+09,1.143010e+11,5.484700e+10,2.991500e+10,2.493200e+10,1.691480e+11,2.141370e+11,3.832850e+11,3.832850e+11
12,2022-09-30,0.0,0.162,1.305410e+11,9.980300e+10,1.110400e+10,2.235460e+11,1.305410e+11,1.194370e+11,-106000000.0,...,2.931000e+09,2.825000e+09,1.194370e+11,5.134500e+10,2.625100e+10,2.509400e+10,1.707820e+11,2.235460e+11,3.943280e+11,3.943280e+11
13,2021-09-30,0.0,0.133,1.231360e+11,9.468000e+10,1.128400e+10,2.129810e+11,1.231360e+11,1.118520e+11,198000000.0,...,2.645000e+09,2.843000e+09,1.089490e+11,4.388700e+10,2.191400e+10,2.197300e+10,1.528360e+11,2.129810e+11,3.658170e+11,3.658170e+11
14,2020-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,890000000.0,...,2.873000e+09,3.763000e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
GrossProfitMargin = PL['Gross Profit']/PL['Total Revenue']
OperatingMargin = PL['Operating Income']/PL['Total Revenue']
NetProfitMargin = PL['Net Income']/PL['Total Revenue']
EBITDAMargin = PL['EBITDA']/PL['Total Revenue']
ROA = PL['Net Income']/BS['Total Assets']
ROE = PL['Net Income']/BS['Stockholders Equity']
tax_rate = PL['Tax Provision']/PL['Pretax Income']
NOPAT = PL['EBIT'] * (1 - tax_rate)
ROIC = NOPAT/BS['Invested Capital']

print(GrossProfitMargin)
print(OperatingMargin)
print(NetProfitMargin)
print(ROA)
print(ROE)
print(tax_rate)
print(NOPAT)
print(ROIC)

0     0.462063
1     0.441311
2     0.433096
3     0.417794
4          NaN
5     0.462063
6     0.441311
7     0.433096
8     0.417794
9          NaN
10    0.462063
11    0.441311
12    0.433096
13    0.417794
14         NaN
dtype: float64
0     0.315102
1     0.298214
2     0.302887
3     0.297824
4          NaN
5     0.315102
6     0.298214
7     0.302887
8     0.297824
9          NaN
10    0.315102
11    0.298214
12    0.302887
13    0.297824
14         NaN
dtype: float64
0     0.239713
1     0.253062
2     0.253096
3     0.258818
4          NaN
5     0.239713
6     0.253062
7     0.253096
8     0.258818
9          NaN
10    0.239713
11    0.253062
12    0.253096
13    0.258818
14         NaN
dtype: float64
0     0.256825
1     0.275098
2     0.282924
3     0.269742
4          NaN
5     0.256825
6     0.275098
7     0.282924
8     0.269742
9          NaN
10    0.256825
11    0.275098
12    0.282924
13    0.269742
14         NaN
dtype: float64
0     1.645935
1     1.560760
2     1.969589
3     1.500713
4          NaN
5     1.645935
6     1.560760
7     1.969589
8     1.500713
9          NaN
10    1.645935
11    1.560760
12    1.969589
13    1.500713
14         NaN
dtype: float64
0     0.240912
1     0.147192
2     0.162045
3     0.133023
4          NaN
5     0.240912
6     0.147192
7     0.162045
8     0.133023
9          NaN
10    0.240912
11    0.147192
12    0.162045
13    0.133023
14         NaN
dtype: float64
0     9.353181e+10
1     9.747684e+10
2     1.000829e+11
3     9.697316e+10
4              NaN
5     9.353181e+10
6     9.747684e+10
7     1.000829e+11
8     9.697316e+10
9              NaN
10    9.353181e+10
11    9.747684e+10
12    1.000829e+11
13    9.697316e+10
14             NaN
dtype: float64
0     0.571784
1     0.562689
2     0.586168
3     0.516339
4          NaN
5     0.571784
6     0.562689
7     0.586168
8     0.516339
9          NaN
10    0.571784
11    0.562689
12    0.586168
13    0.516339
14         NaN
dtype: float64

In [ ]:
# solvency & liquidity
CurrentRatio = BS['Current Assets']/BS['Current Liabilities']
QuickRatio = (BS['Current Assets'] - BS['Inventory'])/BS['Current Liabilities']
DebtToEquityRatio = BS['Total Liabilities Net Minority Interest']/BS['Stockholders Equity']
EquityRatio = BS['Stockholders Equity']/BS['Total Assets']

print(CurrentRatio)
print(QuickRatio)
print(DebtToEquityRatio)
print(EquityRatio)

In [ ]:
# efficiecy 
TotalAssetTurnover = PL['Total Revenue']/BS['Total Assets']
InventoryTurnover = PL['Cost Of Revenue']/BS['Inventory']
ReceivablesTurnover = PL['Total Revenue']/BS['Accounts Receivable']

In [ ]:
# per share data
EPS = PL['Net Income Common Stockholders']/PL['Basic Average Shares']
BPS = BS['Stockholders Equity']/BS['Share Issued']